{% extends "base.html" %}
{% block content %}
<div class="container">
    <p><h3>French to Spanish</h3></p>
    <div class="row">
        <div class="input-field col s12">
            <textarea placeholder="Type to Translate" name="input" id="input"></textarea><br><br>
            <button class="btn teal accent-4" id="clicked" onclick="myFunction()">Translate<i class="material-icons right">send</i></button>
            <button class="btn red accent-4" onClick="window.location.reload();">Reset<i class="material-icons right">clear</i></button>
            <!-- Icons: https://materialui.co/icon/ -->
            <!-- Colors: https://materializecss.com/color.html -->
        </div>
        <div class="show-data">
        </div>
    </div>
</div>

<script type="text/javascript">
    textarea = document.querySelector("#input");
    textarea.addEventListener('input', autoResize, false);
    function autoResize() {
        this.style.height = '300px';
        this.style.height = this.scrollHeight + 'px';
    }
</script>

<script>
    function myFunction() {
    var input= $('#input').val();
      $.ajax({
                  url: "/translate_fr_es",
                  type: "POST",
                  data: {input:input}
              }).done(function(response) {
                var html= "</p><b>RESULT:<b></p>";
                response =response.result;
                     $.each(response,function(key,val){
                     console.log(val);
                        html+="<textarea>"+val+"</textarea>"
                    });
                    $(".show-data").append(html);
                });
    };
</script>
{% endblock %}