<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Flask App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<script>
function myFunction() {
var input= $('#input').val();
  $.ajax({
              url: "/translate",
              type: "POST",
              data: {input:input}
          }).done(function(response) {
            var html= "<br><br><br><p> <b> RESULT : <b><p>";
            response =response.result;
                 $.each(response,function(key,val){
                 console.log(val);
                    html+="<p>"+val+"<p>"
                });
                html +="<br>";
                $(".show-data").append(html);
            });
};
  </script>
<body>
    <p>
        Taking input from web<br><br>
            Input<input type="text" id="input" name="input"><br><br>
            <button id="clicked" onclick="myFunction()">Submit</button>
        </p>
    <div class="show-data" >
    </div>
</body>
</html>